header {
    background-color: #333;
    color: rgb(35, 114, 199);
    text-align:center;
    font-family: Georgia;
    padding-top: 10px;
}
#proyecto {
    background-color: rgb(182, 220, 232);
    color: rgba(7, 163, 36, 0.948);
    text-align:left;
    font-family: 'Times New Roman', Times, serif;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex; 
    justify-content: center;
}

nav li a {
    display: block;
    color: white;
    padding: 14px 20px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #575757; 
}

#proyecto {
    background-color: rgb(182, 220, 252);
    color: rgba(7, 103, 36, 0.948);
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
}